:root {
  --background-color: #faa6a4;
  --past-color: #eacecb;
}

body {
  background-color: var(--background-color);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3.5em;
}

.guesses {
  font-size: 4svmin;
  text-align: center;
  margin: 1em;
  height: 4em;
}

span.join {
  color: var(--past-color);
}

.row {
  display: flex;
  text-align: center;
  justify-content: center;
}

svg {
  margin: auto;
}

path, circle, rect {
  /* Within context of an SVG, this is px in SVG space, not HTML doc space */
  stroke-width: 5px;
  stroke: black;
}

.active {
  stroke: var(--background-color);
}

path.active {
  stroke-dasharray: 4% 4%;
}

path.past {
  stroke: var(--past-color);
}

circle {
  fill: white;
}

circle.past {
  fill: var(--background-color);
}

circle.lead {
  fill: black;
  stroke: var(--background-color);
}

text {
  /* Within context of an SVG, this is px in SVG space, not HTML doc space */
  font-size: 60px;
  text-anchor: middle;
  font-family: Arial, Helvetica, sans-serif;
  fill: white;
}

text.past, text.active {
  fill: black;
}

text.active {
  font-weight: bold;
}

input {
  background-color: var(--background-color);
  border: none;
  border-bottom: calc(max(0.1em,2px)) solid black;
  font-size: 8svmin;
  font-weight: bolder;
  outline: none;
  width: 100%;
  text-align: center;
  padding: 0rem;
}

button {
  font-size: 4svmin;
  color: black;
  -webkit-text-fill-color: black;
  background-color: var(--background-color);
  border: calc(max(0.1em,2px)) solid black;
  border-radius: 1.5em;
  width: 6em;
  height: 3em;
}

.modal {
  display: flex;
  position: absolute;
  top: 0;
  background-color: var(--past-color);
  height: 100svh;
  margin: 10px;
  border-radius: 1em;
  text-align: center;
}

.modal p {
  font-size: 16px;
  text-align: left;
  padding: 0rem 1rem;
  margin: .5rem 1rem;
}

.modal button {
  margin-left: 1rem;
}

.modal img {
  margin-top: 20px;
  margin-right: 7.5px;
}

#buttonRow {
  display: flex;
  width: 100svw;
  max-width: 500px;
  justify-content: space-around;
  margin-top: 2em;
}

#helpButton {
  /* Put this on the right, out of flow with the rest. */
  position: absolute;
  right: 1em;
  width: 2em;
  height: 2em;
  margin-top: 0.5em;

  @media only screen and (max-width: 650px) {
    /* On small screens, put it where it would naturally go in the flow. */
    position: relative;
    right: auto;
  }
}
